.contact {
  background: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.contact-container {
  margin-bottom: 7rem;
  background: #f5f5f5;
  padding: 2rem;
  min-height: 40rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.form-control {
  background: #f5f5f5;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #808080;
  margin: 4px 0;
  padding: 0.3rem;
  width: 100%;
}

.side-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30rem;
  max-width: 13rem;
}

@media (max-width: 658px) {
  .contact-container {
    margin-bottom: 7rem;
    min-width: 90%;
    padding: 2rem;
    min-height: fit-content;
  }
}
