* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 8rem;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}


.home-content {
  max-width: 600px;
}

.home-content h1 {
  color: var(--text-color);
  font-size: 3rem;
}

.home-content p {
  color: var(--text-color);
  line-height: 2rem;
  font-size: 1.2rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.img-container img {
  width: 250px;
  height: auto;
}

.section-header {
  background: var(--second-bg-color);
  text-align: center;
  padding: 3rem;
}

@media (max-width: 657px) {
  .home{
    padding-top: 3rem;
    flex-direction: column-reverse;
  }
  .home-content {
    padding: 1.6rem;
  }
  
  .home-content h1 {
    font-size: 2rem;
  }
  
  .home-content p {
    font-size: 1rem;
  }
  .img-container {
    width: auto;
    height: auto;
    margin-bottom: 4rem;
  }
}
