.notes-wrapper{
  background: linear-gradient(to right bottom, var(--bg-color), var(--second-bg-color));
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  overflow-x: hidden;
}

.note-container {
  display: flex;
  padding: 4rem 0;
  gap: 1.5rem;
  flex-direction: column;
}

.notes {
  text-align: center;
  max-width: 640px;
  padding: 1rem;
}

.notes p,
.notes,
h1 {
  color: var(--text-color);
}

.button-font {
  display: flex;
  gap: 10px;
  color: var(--text-color);
}

.note-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.note-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.form-note {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem;
}

textarea::placeholder {
  color: rgb(45, 45, 45);
}

textarea:focus {
  outline: none;
}

.textarea-notes {
  height: auto;
  padding: .4rem;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
  width: 33rem;
  background: transparent;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  color: #000100;
  font-size: 1.1rem;
  font-weight: 300;
}

@media (max-width:657px){
  .note-wrapper{
    min-width: 100%;
  }
  .textarea-notes {
    padding: .4rem;
    min-height: auto;
    max-height: auto;
    width: 18rem;
    font-size: 1rem;
  } 
}